@using EasyCashProject.DtoLayer.Dtos.AppUserDto
@model AppUserEditDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<div class="col-md-12 col-sm-12 col-xs-12">

    <form class="form-horizontal form-label-left" method="post" novalidate>

        <span class="section">Kişisel Bilgiler</span>

        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                İsim <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input value="@Model.Name" id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Name" placeholder="" required="required" type="text">
            </div>
        </div>
         <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                Soyisim <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input value="@Model.Surname" id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Surname" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
            </div>
        </div>
         <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                Kullanıcı Adı <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input value="@Model.Username" id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Username" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                Email <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="email" value="@Model.Email" id="email" name="Email" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
       <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                Telefon <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="tel"value="@Model.PhoneNumber" id="telephone" name="PhoneNumber" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                Şehir <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input value="@Model.City" id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="City" placeholder="both name(s) e.g Jon Doe" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                İlçe <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input value="@Model.District" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="District" type="text">
            </div>
        </div>

        <div class="item form-group">
            <label for="password" class="control-label col-md-3">Şifre</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
            <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Şifre Tekrar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
       
        
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Vazgeç</button>
                <button id="" type="submit" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </form>
</div>


